
/.vscode/

# Playwright
/.temp-storage-state-data/
node_modules/
/test-results/
/playwright-report/
/blob-report*/
/playwright/.cache/
/playwright/.auth/
/allure-result/
/allure-results/
/allure-rp/
/allure-report/
/allure-reports/
.env